<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'favorites/micropost_button', user: @user %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Microposts <span class="badge"><%= @count_microposts %></span><% end %></li>
      <li class="<%= 'active' if current_page?(micropostings_user_path(@user)) %>"><%= link_to micropostings_user_path(@user) do %>Micropostings <span class="badge"><%= @count_micropostings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(microposters_user_path(@user)) %>"><%= link_to microposters_user_path(@user) do %>Microposters <span class="badge"><%= @count_microposters %></span><% end %></li>
    </ul>
    <%= render 'users', users: @microposters %>
  </div>
</div>